# Configurações do Bot Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=

# Configurações da API Gemini (Google GenAI)
GEMINI_API_KEY=

# Configurações do Supabase (RAG & Banco de Dados)
SUPABASE_URL=
SUPABASE_KEY=
